
/*分页*/
.pagination {
    display: inline-block;
    width: 100%;
    padding-top: 6px;
}
.pagination .links {
    float: left;
    padding-top: 6px;
}
.pagination .links b {
    border: 1px solid #DDDDDD;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #d6312c;
    background:#eee;
}
.pagination .links a {
    border: 1px solid #DDDDDD;
    padding: 4px 10px;
    font-size: 12px;
    text-decoration: none;
    color: #d6312c;
}
.pagination .results {
    float: right;
    padding-top: 6px;
    font-size: 12px;
}


.form-input {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
}
/*------------------------------------------------首页样式---------------------------------------------*/
.border-bt-dashed{border-bottom:1px dashed #ccc;}
.border-bt-solid{border-bottom:1px solid #eee;}
.border-R-solid{border-right:1px solid #eee;}
.time-div{background:#f8e8eb;color:#710b0e;width:80px;height:90px;padding-top:20px;margin-top:20px;line-height:25px;}
.time-div p{font-size:25px;}
.index-btn{background:#eee;width:19%;margin:0 0.5%;float:left;padding:8px 0;text-align:center;}
.index-btn.select-btn{background:#dcdcdc;}
.index-btn:hover{background:#dcdcdc;}
.link-friends a{width:14.28%;text-align:center;padding:10px 0;float:left;}
.index-part1{margin:10px 0;overflow:hidden;}
.index-part1 li a{color:#666!important;}
.index-part1 .left{padding-right:15px;}
.index-part1 .right{padding-left:15px;}
.index-part1 .content-part1{height:216px;}
.index-part1 .wd70{float:left;width:70%;padding-right:15px;}
.index-part1 .wd70 .content{padding: 10px 8px;line-height: 26px;}
.index-part1 .wd70 .content li{overflow:hidden;}
.index-part1 .wd70 .content li a{float:left;width:80%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.index-part1 .wd70 .content li:first-child a{font-size:16px;color:#333!important;padding:5px 0;}
.index-part1 .wd70 .content li:first-child.font-red a{color:#d6312c!important;}
.index-part1 .wd70 .wd40 img{max-height:320px;max-width:300px;float:right;}
.index-part1 .wd70 .complain{padding: 5px 8px 0;overflow:hidden;}
.index-part1 .wd70 .complain li{position:relative;float:left;border:1px solid #ccc;height:62px;width:21%;margin:10px 5% 0 0;padding:4px;text-align:center;font-size:18px;overflow:visible;}
.index-part1 .wd70 .complain li:nth-child(4n){margin-right:0;}
.index-part1 .wd70 .complain li.begin{border:1px solid #b80007;color:#b80007;}
.index-part1 .wd70 .complain li.begin a{color:#b80007;}
.index-part1 .wd70 .complain li.finish{background:#b80007;border-radius:10px;color:#fff;}
.index-part1 .wd70 .complain li.finish a{color:#fff;}
.index-part1 .wd70 .complain li .pic1{position:absolute;top:20px;right:-20px;z-index:10;}
.index-part1 .wd70 .complain li .pic2{position:absolute;top:52px;right:18px;-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);z-index:10;}
.index-part1 .wd70 .complain li .pic3{position:absolute;top:20px;right:-20px;-moz-transform:rotate(1800deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);z-index:10;}

.index-part1 .wd70 .video-news{padding:10px 10px 0;}
.index-part1 .wd70 .video-news video{width:100%;vertical-align:middle;}
.index-part1 .wd70 .video-news .video-content{height:165px;overflow:hidden;}
.index-part1 .wd70 .video-news .video-content img{width:300px;height:165px;}

.index-part1 .wd30{float:left;width:30%;padding-left:15px;}
.index-part1 .wd30 .headline{float:left;width:50px;height:50px;background:#bd0006;font-size:20px;color:#fff;line-height:1.1;text-align:center;padding-top:3px;margin-right:12px;}
.index-part1 .wd30 .title{font-size:20px;font-weight:bold;line-height:25px;}
.index-part1 .wd30 .detail{margin:20px 0 30px;text-indent:2em;line-height:24px;}
.index-part1 .today-headline div:nth-of-type(2){ height:50px;}
.index-part1 .today-headline div:nth-of-type(5){margin:20px 0 0;}
.bookCcity-a{border:1px solid #dedede;padding:5px;text-align:center;}
.tab-ul{line-height:38px;}
.tab-ul li{padding:0 40px;float:left;text-align:center;height:38px;color:#000;}
.tab-ul li.select{background:#FFF;border:1px solid #d6312c;border-bottom:none;margin-bottom:-1px;border-radius:5px 5px 0 0;color:#d6312c;font-weight:bold;}
.more-link{color:#f00;}
.more-link:hover,.more-link:focus{color:#f00;}
.more-link .screen-reader-text{color:#333;margin-left:5px;}
.more-link .meta-nav{color:#333;}
.index-part1 .wd30 .profession-news{padding: 0px 8px;}
.index-part1 .wd30 .profession-news li{line-height:35px;border-bottom:1px dotted #ddd;font-size:15px;}
.index-part1 .wd30 .pic-news{margin-top:11px;overflow:hidden;}

.index-part1 .wd30 .pic-news .pic{float:left;width:120px;}
.index-part1 .wd30 .pic-news .pic .content{position:relative;height:84px;text-align:center;}
.index-part1 .wd30 .pic-news .pic .content img{width:120px;height:84px;}
.index-part1 .wd30 .pic-news .pic .content:nth-child(2){margin-top:30px;}
.index-part1 .wd30 .pic-news .news{margin-left:135px;line-height:28px;}
.index-part1 .wd30 .pic-news .news li:nth-child(3){margin-bottom:30px;}

/*------------------------------------------------*/
.index-ad{margin:15px 0;}

/*------------------------------------------------*/
.index-part2{margin:10px 0;overflow:hidden;}
.index-part2 .left{padding-right:10px;}
.index-part2 .right{padding-left:10px;}
.index-part2 .wd70{float:left;width:70%;padding-right:10px;}
.index-part2 .wd70 .content{padding:10px 0;overflow:hidden;}
.index-part2 .wd70 .content .box{height:215px;border:1px solid #ccc;}
.index-part2 .wd70 .content .box .title{padding:0 15px;line-height:32px;background:#eee;border-bottom:1px solid #ccc;font-size:16px;}
.index-part2 .wd70 .content .box .detail{padding:15px;overflow:hidden;}
.index-part2 .wd70 .content .box .detail .pic{position:relative;float:left;width:100px;height:150px;text-align:center;}
.index-part2 .wd70 .content .box .detail .pic img{width:100px;height:150px;}
.index-part2 .wd70 .content .box .detail .name{margin-left:115px;}

.index-part2 .wd70 .member{padding:10px 0;overflow:hidden;}
.index-part2 .wd70 .member li{float:left;margin-right:4%;width:16.8%;text-align:center;}
.index-part2 .wd70 .member li img{width:132px;height:132px;}
.index-part2 .wd70 .member li:last-child{margin-right:0;}

.index-part2 .wd70 .brand{margin:10px 0;overflow:hidden;}
.index-part2 .wd70 .brand li{float:left;margin-right:4%;width:16.8%;text-align:center;border:1px solid #ccc;padding:10px 10px 0;line-height:30px;}
.index-part2 .wd70 .brand li:last-child{margin-right:0;}
.index-part2 .wd70 .brand li img{width:112px;height:75px;}
.index-part2 .wd70 .brand .brand-pic{height:75px; line-height:75px;}
.index-part2 .wd70 .brand .brand-name{margin-top:10px;height:30px;overflow:hidden;}

.index-part2 .wd70 .culture-pic{padding-left:10px;overflow:hidden;}
.index-part2 .wd70 .culture-pic .pic-left{position:relative;float:left;width:41%;margin-top:20px;margin-right:20px;}
.index-part2 .wd70 .culture-pic .pic-left .photo img{width:100%;}
.index-part2 .wd70 .culture-pic .pic-left .caption{position:absolute;bottom:0;height:22px;background:rgba(0,0,0,0.7);overflow:hidden;color:#fff;z-index:10;}
.index-part2 .wd70 .list1{margin:20px 30px 20px 10px;}
.index-part2 .wd70 .list2{margin:20px 10px 20px 35px;}
.index-part2 .wd70 .borderR{border-right:1px solid #ddd;}

.index-part2 .wd70 .tradition{padding:10px;overflow:hidden;}
.index-part2 .wd70 .tradition-pic{position:relative;float:left;width:19%;margin-right:15px;line-height:24px;}
.index-part2 .wd70 .tradition-pic:nth-child(3){margin-left:14%;}
.index-part2 .wd70 .tradition-pic .pic img{width:150px;height:100px;}
.index-part2 .wd70 .tradition-pic .pic{height:100px;}
.index-part2 .wd70 .tradition-culture{width:100%;margin-top:10px;overflow:hidden;}
.index-part2 .wd70 .tradition-culture li{float:left; width:50%;border-right:1px solid #ddd;padding:0 20px;}
.index-part2 .wd70 .tradition-culture li:nth-child(2n){border-right:none;width:45%;margin-left:5%;}

.index-part2 .wd30{float:left;width:30%;padding-left:10px;}
.index-part2 .wd30 .introduction{border:1px solid #d2d2d2;background:#f6f6f6;margin-bottom:5px;}
.index-part2 .wd30 .introduction .pic{float:left;width:80px;text-align:center;}
.index-part2 .wd30 .introduction .name{margin-left:80px;font-size:16px;font-weight:bold;}
.index-part2 .wd30 .introduction .font-gray{font-size:14px;font-weight:normal;}
.index-part2 .wd30 .introduction .wrap{padding:7px 0;}
.index-part2 .wd30 .border1{border-left:7px solid #e6e6e6;}
.index-part2 .wd30 .border2{border-left:7px solid #c2c2c2;}
.index-part2 .wd30 .border3{border-left:7px solid #8d8d8d;}
.index-part2 .wd30 .border4{border-left:7px solid #616161;}
.index-part2 .wd30 .graphics-news{margin:20px 0 10px;height:230px;overflow:hidden;}
.index-part2 .wd30 .graphics-news .first-article{line-height:25px;position:relative;}
.index-part2 .wd30 .graphics-news .first-article .text-overflow2 a{color:#999;}
.index-part2 .wd30 .graphics-news .first-article .screen-reader-text {color:#999!important;}
.index-part2 .wd30 .graphics-news .pic{float:left;width:115px;margin-right:10px;text-align:center;}
.index-part2 .wd30 .graphics-news .pic img{width:115px;height:77px;}

.index-part2 .wd30 .graphics-news .first-article .excerpt{position:absolute;right:0;width: 205px;height: 55px;overflow: hidden; word-wrap: break-word;}
.index-part2 .wd30 .graphics-news .first-article .excerpt a{color:#999;}
.index-part2 .wd30 .graphics-news .warning{margin-top:60px;}

.index-part2 .wd30 .inquiry{border:1px solid #ccc;}
.index-part2 .wd30 .inquiry .title{line-height:30px;border-bottom:1px solid #ccc;padding:0 20px;background:#eee;}
.index-part2 .wd30 .inquiry .content{padding:20px;line-height:30px;min-height:280px;}
.index-part2 .wd30 .finance{position:relative;border:1px solid #ccc;padding:10px 10px 45px;margin-top:20px;overflow:hidden;}
.index-part2 .wd30 .finance .title{padding:15px 0 5px;font-weight:bold;}
.index-part2 .wd30 .finance img{width:150px;height:100px;}
.index-part2 .wd30 .finance .content{height:85px;overflow:hidden;}
.index-part2 .wd30 .finance .exhibit{position:absolute;bottom:0;right:0;display:inline-block;width:40px;text-align:center;background:#fb423d;color:#fff;}
.index-part2 .wd30 .finance .triangle{position:absolute;bottom:0;right:40px;border-bottom: 21px solid #fb423d; border-left: 21px solid transparent;}

/*------------------------------------------------*/
.index-part3{margin:20px 0 25px;overflow:hidden;}
.index-part3 .friend-link{float:left;width:114px;height:44px;line-height:44px;background:#b9010d;text-align:center;color:#fff;font-size:18px;}
.index-part3 ul{margin-left:114px;overflow:hidden;}
.index-part3 li{float:left;width:16.6%;text-align:center;line-height:22px;}


/*------------------------------------------------文章分类样式---------------------------------------------*/
.category{margin:20px 0;overflow:hidden;}
.category .menu-div{overflow:hidden;width:220px;float:left;}
.category .menu-bottom{padding:10px 0 10px 15px;margin-top:20px;float:left;width:100%;border-top:1px solid #dedede;line-height:25px;}
.category .menu-bottom h4{margin-top:15px;font-size:16px;color:#000;font-weight:bold;}
.category .menu{float:left;width:220px;margin-right:20px;text-align:center;border:1px solid #dedede;border-radius:5px;}
.category .menu .headline{height:50px;line-height:46px;text-align:center;font-size:16px;color:#000;background:#e7e7e7;border-top-left-radius:5px;border-top-right-radius:5px;}
.category .menu .list{background:#f9f9f9;}
.category .menu .list li{height:49px;line-height:50px;border-bottom:1px solid #dedede;padding:0 20px;}
.category .menu .list2 li{height:34px;border-bottom:none;line-height:35px;padding:0 40px;}
.category .menu .list2 li.select{border-right:3px solid #d6312c;}
.category .menu .list2 li:first-child{height:49px;line-height:50px;font-size:18px;text-align:left;}
.category .menu .list li:last-child{border-bottom:none;}
/*.category .menu .list li a{display:block;height:40px;background:url(../images/arrow.png) right center no-repeat;}*/
.category .menu .list li img{float:right;padding-top:15px;}
.category .detail{margin-left:240px;border:1px solid #dedede;padding:20px 30px;min-height:520px;}
.category .mgL0{margin-left:0px;}
.cat-title{font-size:18px;padding-bottom:8px;border-bottom:1px solid #ddd;}
.cat-title span{padding:0 50px 7px 0;}
.cat-content{padding:20px;min-height:400px;line-height:30px; list-style-type:disc; list-style-position:inside;}
.distribution-input{overflow:hidden;}
.distribution-input li{padding:15px 0;width:100%;float:left;}
.distribution-input li:first-child{padding-top:30px;}
.distribution-input label{padding:5px 0;}
.distribution-input p{padding:5px 0 0 15px;color:#999}
.distribution-input .distribution-p{padding:0 0 0 15px;line-height:18px;margin:0px;}

/*------------------------------------------------文章详情样式---------------------------------------------*/
.article-detail{margin:20px 0;min-height:600px;}
.article-detail .title{text-align:center;border-bottom:1px dashed #ddd;padding:10px 0;}
.article-detail .content{padding:20px;}
.article-detail #video-news video{max-width:600px;}


/*------------------------------------搜索结果页样式------------------------------------*/
.search-result{padding:40px 0;}
.search-result .title{font-size:18px;border-bottom:2px solid #b9010d;padding-bottom:6px;}
.search-result .content{padding:20px 30px;min-height:450px;}
/*.search-result .article{background:url(../images/arrow.png) left center no-repeat;padding-left:20px;border-bottom:1px dashed #ddd;line-height:40px;}*/

/*------------------------------------投诉流程样式------------------------------------*/
.comment-respond{min-height:520px;}
.comment-reply-title{ text-align:center; margin:30px 0 30px;}
.comment-form {width:1024px;margin:0 auto;border:1px solid #b9010d;padding:50px 298px;border-radius:5px;}
.comment-form label{ vertical-align:top; line-height:27px; width:82px; text-align:right;}
.comment-form .required{color:#f00;font-weight:bold;margin-right:3px;}
.form-submit input[type=submit]{ 
	margin-left:86px; 
    border: none;
    width: 80px;
    height: 32px;
    line-height: 32px;
    background-color: #fb4746;
    color: #fff;
}

/*------------------------------------个人中心样式------------------------------------*/
.detail-header>img{width:120px;}
.detail-header form img{width:120px;}
.detail-header .col-md-5 {width: 41.66666667%;float:left;}
.detail-header .col-md-4 {width: 33.33333333%;float:left;}
.detail-header-left{padding:20px 10px;}
.posonal-bg-gray{background:#f9f9f9;margin-top:20px;overflow:hidden;border-radius:5px;padding:10px 40px;}
.personal-detail-ul li{margin:10px 5px;overflow:hidden;text-align:center;border:1px solid #eee;}
.personal-detail-ul li>.personal-detail-title{line-height:30px;padding:10px 5px;width:100%;text-align:left;border-bottom:1px solid #eee;}
.personal-detail-left{width:75%;float:left;}
.personal-detail-left>div{padding:10px 0;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.personal-detail-left>div:last-child{border-bottom:none;}
.personal-detail-right{width:25%;float:left;padding-top:10px;}
.personal-detail-ul li>.personal-detail-left>div>div{width:27%;float:left;}
.personal-detail-ul li>.personal-detail-left>div>div:first-child{width:17%}
.personal-detail-ul li>.personal-detail-left>div>div.line-two{line-height:25px;margin-top:20px;}
.personal-detail-ul li>.personal-detail-left>div>div.line-two a{line-height:30px;}
.personal-detail-ul li>.personal-detail-left>div>div.line-two .personal-btn{padding:5px 10px;}
.personal-detail-ul li>.personal-detail-left>div>div.line-two a:first-child{margin-top:-10px;}
.personal-detail-ul li>.personal-detail-left>div>div:first-child>a>img{height:80px;}
.if-like{height:350px;position:relative;overflow:hidden;}
.if-like ul .like-ul:nth-of-type(1){width:90%;position:absolute;left:-100%;}
.if-like ul .like-ul:nth-of-type(2){width:90%;position:absolute;left:5%;}
.if-like ul .like-ul:nth-of-type(3){width:90%;position:absolute;left:100%;}
.if-like ul>div:first-child,.if-like ul>div:last-child{width:5%;line-height:260px;text-align:center;}
.if-like ul li>img{height:150px;}
.if-like ul li{float:left;width:19%;text-align:center;margin:0 0.5%;padding:10px;border:1px solid #ddd;}
ul.my-goods{margin:20px 0 10px 0;}
ul.my-goods li{padding:0 15px;border-right:1px solid #ddd;float:left;}
ul.my-goods li:last-child{border-right:none;}



.scrollpic {
	width: 1030px;
	margin:20px auto 0 auto;
}
.myscroll {
	display: block;
	width: 100%;
	position: relative;
	height: 350px;
	overflow: hidden;
}
.myscroll .myscrollbox {
	display: block;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	width: 1000000px;
}
.myscroll ul {
	display: block;
	float: left;
	list-style-type: none;
	padding:0 0;
	margin: 0;
}
.myscroll ul li {
	display: block;
	float: left;
	padding: 0;
	width:208px;
	text-align:center;
}
.myscroll ul li>a{display:block;margin:0 10px;border:1px solid #ddd;padding:10px;}
.myscroll ul li .text-left{height:41px;font-size:14px;}
.myscroll ul li img{height:180px;}


.mybtns {
	margin: 10px 0;
	width: 1030px;
	display: block;
}
.mybtns a {
	width:26px;
	height: 45px;
	display: block;
	float: right;
	margin-right: 1px;
	background-color: #c1c1c1;
	margin-left:10px;
}
.mybtns a:hover {
	background-color: #347fdc;
}
.mybtns a:hover, .myscroll, .mybtns a,.myscroll .myscrollbox {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.mybtns .myscroll-left {
	background-image: url(../image/common/arrows-right-o.jpg);
	position:absolute;
	left:-40px;
	top:130px;
	z-index:100;
}
.mybtns .myscroll-right {
	background-image: url(../image/common/arrows-left-o.jpg);
	position:absolute;
	right:-40px;
	top:130px;
	z-index:100;
}

.kinMaxShow {
	visibility: hidden;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

/*------------------------------------购物车样式------------------------------------*/
.shopping-succeed{border:1px solid #ddd;border-radius:5px;padding:10px;overflow:hidden;}
.shopping-succeed .fa-check-circle{font-size:20px;color:#8bca3a;margin-top:5px;}
.shopping-succeed .fa-circle-o{font-size:20px;color:#ccc;margin-top:5px;}
.succeed-left-bottom img{width:60px;}
.succeed-left-bottom .pull-right{margin:30px 100px 0 0;}
.succeed-left-bottom
.shopping-succeed .succeed-right a{border-radius:5px;}
.container-nav{line-height:30px;height:30px;background:#f0f0f0;border-radius:15px;overflow:hidden;text-align:center;margin-top:20px;}
.container-nav li{position:relative;}
.container-nav li.select{background:#d6312c;color:#FFF;}
.container-nav li:last-child:after{width:0;height:0;}
.container-nav li:after {
    content: '';
    display: block;
    position: absolute;
	z-index:2;
    top: 5px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
	background:#f0f0f0;
}
.container-nav li.select:after{    border-right: 1px solid #d6312c;
    border-bottom: 1px solid #d6312c;background:#d6312c}
.shopping-cart-top{padding:20px 0;border-bottom:1px solid #ddd;text-align:center;}
.shopping-cart-top .amount{padding-left:50px;}
.shopping-cart-bottom{padding-top:20px;text-align:center;}
.shopping-cart-bottom .delete{margin-left:25px;}
.shopping-addr li{border:1px solid #dddddd;padding:10px;width:23.5%;margin-right:2%;height:160px;background:#fbfbfb;float:left;margin-bottom:20px;}
.shopping-addr li:first-child a{font-size:18px;text-align:center;line-height:140px;}
.shopping-addr li:nth-child(4n){margin-right:0px;}
.shopping-addr li.select{border:2px solid #ff2832}
.check-yes-no{width:20px;height:20px;border:2px solid #dcdcdc;text-align:center;border-radius:2px;}
.check-open-close{width:20px;height:20px;border:2px solid #ffa42d;text-align:center;border-radius:50%;background:#fce1c9;}
.check-open-close i{color:#ffa42d;margin:2px 0 0 1px;}
.shopping-money-input{border:1px solid #d2d2d2;width:120px;height:30px;margin-top:-5px;background:#e6e6e6;}
.shopping-bottom-buy{padding:20px 10px;background:#f1f5f8;}
.shopping-bottom-buy>div{line-height:30px;}



/*------------------------------------网上书城------------------------------------*/
.booksCity-top-left{width:10.8%;text-align:center;background:#FFF;border:1px solid #d6d6d6;line-height:30px;font-size:14px;height:300px;position:absolute;z-index:100;}
.booksCity-top-left li a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.booksCity-middle .c-newslist{height:32px;}
.booksCity-middle-left{width:48%;float:left;margin:15px 1% 0 1%;}
.booksCity-middle-right{width:48%;float:left;margin:15px 1% 0 1%;}
.booksCity-middle-right.wd100,.booksCity-middle-left.wd100{width:98%!important;}
.booksCity-middle-right.wd100 li,.booksCity-middle-left.wd100 li{width:22%!important;}
.booksCity-middle-left ul li{width:30%;height:230px;margin-left:2.5%;margin-top:15px;float:left;position:relative;}
.booksCity-middle-left ul li p:last-child{position:absolute;bottom:0;width:100%;}
.booksCity-middle-left ul li:last{margin-right;2.5%;}
.booksCity-middle-left ul li .wd100{background:#FFF;text-align:center;padding:10px 40px;}
.booksCity-middle-right ul li{width:47%;height:215px;margin:15px 1.5% 15px 1.5%;float:left;background:#FFF;}
.booksCity-middle-right ul li .wd100>div{padding:10px 10px 0 0;line-height:20px;}
.booksCity-middle-right ul li .wd100>div:first-child{padding:10px;padding-top:25px;text-align:center;}

.booksCity-bottom>.mgT10:nth-child(5n+1) .c-title{color:#d6312c;border-bottom:1px solid #d6312c;background: url(../image/common/city-nail1.png) left 3px no-repeat;background-size: 16px;padding-left:30px;}
.booksCity-bottom>.mgT10:nth-child(5n+1) .booksCity-bottom-left h4{color:#d6312c;}
.booksCity-bottom>.mgT10:nth-child(5n+2) .c-title{color:#01a7d9;border-bottom:1px solid #01a7d9;background: url(../image/common/city-nail2.png) left 3px no-repeat;background-size: 16px;padding-left:30px;}
.booksCity-bottom>.mgT10:nth-child(5n+2) .booksCity-bottom-left h4{color:#01a7d9;}
.booksCity-bottom>.mgT10:nth-child(5n+3) .c-title{color:#eab102;border-bottom:1px solid #eab102;background: url(../image/common/city-nail3.png) left 3px no-repeat;background-size: 16px;padding-left:30px;}
.booksCity-bottom>.mgT10:nth-child(5n+3) .booksCity-bottom-left h4{color:#eab102;}
.booksCity-bottom>.mgT10:nth-child(5n+4) .c-title{color:#01c831;border-bottom:1px solid #01c831;background: url(../image/common/city-nail4.png) left 3px no-repeat;background-size: 16px;padding-left:30px;}
.booksCity-bottom>.mgT10:nth-child(5n+4) .booksCity-bottom-left h4{color:#01c831;}
.booksCity-bottom>.mgT10:nth-child(5n+5) .c-title{color:#3b02c9;border-bottom:1px solid #3b02c9;background: url(../image/common/city-nail5.png) left 3px no-repeat;background-size: 16px;padding-left:30px;}
.booksCity-bottom>.mgT10:nth-child(5n+5) .booksCity-bottom-left h4{color:#3b02c9;}

.booksCity-bottom-left{width:22%;margin:10px 1% 0 1%;float:left;background:#fafafa;}
.booksCity-bottom-left img{width:100%;}
.booksCity-bottom-left p a{display:block;color:#999;padding:0 5px;min-width:33.33%;float:left;}
.booksCity-bottom-right{position:absolute;top:0;bottom:1px;right:0;}
.booksCity-bottom-right{width:75%;margin-top:10px;float:left;}
.booksCity-bottom-right li,.booksCity-list li{width:23%;float:left;margin:0 2% 1.5% 0;border:1px solid #ddd;padding:10px 1% 0 1%;height:48.9%;position:relative;}
.booksCity-bottom-right li .text-center img,.booksCity-list li .text-center img{width:65%}
.booksCity-bottom-right li:nth-child(5),.booksCity-bottom-right li:nth-child(6),.booksCity-bottom-right li:nth-child(7),.booksCity-bottom-right li:nth-child(8){margin-bottom:0px;}
.booksCity-bottom-right li p:last-child{position:absolute;bottom:0;width:90%;}
/*-全部分类-*/
.booksCity-bottom .classify-all-ul li{width:32.3%;float:left;margin:10px 0;margin-right:1%;}
.booksCity-bottom .classify-all-ul li:last-child{margin-right:0px;}
.booksCity-bottom .classify-all-ul li a{width:31%;float:left;margin:0 1%;color:#808080;text-align:left;font-size:13px;}
/*------------------------------------产品详情------------------------------------*/
.productDetails-top-left{width:30%;float:left;}
.productDetails-top-left .search>a img{width:85%;}
.productDetails-top-left .search .product-favorable-btn{width:80px;height:80px;position:absolute;top:0px;right:0px;background:#e62129;border-radius:50%;color:#FFF;padding:15px;text-align:center;font-size:16px;}
.productDetails-top-left .search .product-probation-btn{width:110px;height:35px;position:absolute;bottom:0px;right:10px;border-radius:20px;background:#e62129;color:#FFF;line-height:35px;font-size:16px;text-align:center;}
.productDetails-top-left ul li{width:16%;height:50px;float:left;border:1px solid #CCC;padding:2px;text-align:center;margin-right:5%;}
.productDetails-top-left ul li:last-child{margin-right:0;}
.product-collect a img{padding}
.productDetails-top-right{width:70%;float:left;padding-left:50px;}
.product-evaluate span a{color:#2a6ed3;border-left:1px solid #2a6ed3;padding-left:10px;margin-left:10px;}
.product-buy a{display:inline-block;width:150px;padding:7px 0;text-align:center;margin-right:50px;border-radius:5px;}
.productDetails-bottom-left{width:18%;float:left;border:1px solid #eee;padding:10px;}
.productDetails-bottom-left li.border-bt-dashed:last-child{border-bottom:none;}
.productDetails-bottom-left li .text-center img{width:65%;}
.productDetails-bottom-left li p{margin:5px 0;}
.productDetails-bottom-right{width:80%;float:left;margin-top:10px;margin-left:2%;}
.productDetails-tab{height:35px;padding:5px 0;border-top:1px solid #999999;border-bottom:1px solid #dedfde;background:#f7f7f7;}
.productDetails-tab li{float:left;min-width:100px;text-align:center;line-height:24px;}
.productDetails-tab li.select{line-height:45px;height:45px;border-left:1px solid #dedfde;border-right:1px solid #dedfde;border-top:2px solid #e4393c;margin-top:-16px;background:#FFF;color:#e4393c}
.productDetails-bottom-right>div{margin:15px;margin-top:25px;}
.productDetails-title{border-bottom:1px solid #dedfde;border-left:2px solid #e4393c;}
.productDetails-title div{width:auto;line-height:30px;height: 30px;border-bottom: 30px solid #e5e5e5;border-right: 30px solid #FFF;float:left;
}
.productDetails-bottom-right .font-red{color:#f00!important;}

.productDetails-div2-head .div2-head-left{width:110px;float:left;}
.productDetails-div2-head .div2-head-right{margin-left:150px;}
.div2-head-right li{width:100%;overflow:hidden;margin:5px 0;}
.div2-head-right li span{width:100px;float:left;color:#999;font-size:12px;}
.div2-head-right li>div{width:200px;height:15px;float:left;background:#eee;margin-left:20px;margin-top:2px;}
.div2-head-right li>div .Proportion-div{width:30px;height:15px;float:left;background:#d6312c;}
.productDetails-div2-top{overflow:hidden;padding:5px 0;background:#eee}
.productDetails-div2-top li{float:left;margin:0 15px;}
.productDetails-div2-main li{padding:20px 10px;width:100%;overflow:hidden;border-bottom:1px solid #ccc;height}
.productDetails-div2-main li .div2-main-left{width:160px;float:left;}
.productDetails-div2-main li .div2-main-right{margin-left:160px;position:relative;min-height:100px;}
.div2-main-right .div2-main-productDetails{width:100%;padding-right:200px;}
/*.div2-main-right .div2-main-productDetails ul li{width:90px;height:90px;border:1px solid #CCC;margin-right:10px;float:left;padding:0;text-align:center;}
.div2-main-right .div2-main-productDetails ul li img{max-width:100%;max-height:100%;}
.div2-main-right .div2-main-productDetails ul li:last-child{margin-right:0;}*/
.div2-main-right .div2-main-user{position:absolute;top:0;right:0;width:200px;text-align:center;}
.div2-main-right .div2-main-user img{width:65px;}
/*优惠券*/
.get-discount-ul{width:250px;border-radius:5px;border:1px solid #eee;line-height:27px;padding:0 10px;background:#FFF; box-shadow: 3px 3px 3px #ffdab9;}
.get-discount-ul li{padding:5px 0;border-bottom:1px dashed #eee;}
.get-discount-ul li:last-of-type{border-bottom:none;}
.get-discount-ul .pull-left{width:51px;height:27px;background:url(../image/common/get-discount-img.png) center center no-repeat;color:#FFF;text-align:center;padding-right:5px;}
.get-discount-ul .discount-ul-close{width:20px;height:20px;position:absolute;top:0;right:-25px;background:#FFF;border:1px solid #eee;box-shadow: 3px 3px 3px #ffdab9;text-align:center;line-height:20px;border-radius:2px;}
/*规格*/
.size-option {overflow: hidden;}
.size-option li {float: left;display: inline-block;height: 34px;margin-right: 10px;line-height: 32px;padding: 0 15px;text-align: center;border: 1px solid transparent;border-radius: 3px;white-space: nowrap;border: 1px solid #ccc;color: #333;}
.size-option .select {color: #fff;background: #c23339!important;border: 1px solid #c23339;}

/*-------------------------登录注册-----------------------*/
.logo-right-img{line-height:125px;}
.login-div{padding-bottom:50px;}
.login-div>.wd60>img{width:600px;margin-right:50px;}
.login-div>.wd40{padding-top:80px;}
.login-div .login-input{border:1px solid #bfbfbf;width:342px}
.login-div .login-input input{width:300px;border:0px;height:40px;padding:0 10px;}
.login-div .login-input div{padding:0;margin:5px 0;width:39px;text-align:center;line-height:28px;border-right:1px solid #bfbfbf;}
.login-div .phone-verify input{border:1px solid #bfbfbf;width:180px;height:40px;padding:0 10px;}
.login-div .phone-verify .btn-shoping{background:#e05853;margin-left:40px;}
/*-------------------------地址管理-----------------------*/
.distribution-input .select-ul-address{max-height:170px;overflow-y:auto}
.distribution-input .select-ul-address li{padding:0 10px;}

/*评论页面*/
.go-comment-imput{border-color:#dedede;}
/*抽奖页面*/
.explain-num{float:left;width:22px;height:22px;color:#FFF;border-radius:50%;line-height:22px;text-align:center;}

.raffle1-top{padding-bottom:50px;overflow:hidden;width:100%;min-height:700px;background-image:url(../image/common/raffle1-1.jpg),url(../image/common/raffle1-2.jpg),url(../image/common/raffle1-3.jpg),url(../image/common/raffle1-4.jpg);background-repeat:no-repeat,no-repeat,no-repeat,repeat-y;background-position:center top,center 200px,center 250px,center center;}
.raffle1-time{color:#a30e22;font-size:18px;width:800px;margin:0 auto;margin-top:213px;padding-left:50px;}
.raffle1-dial{width:500px;height:500px;background:#FFF;float:right;margin:100px 20px 0 0;}
.raffle1-name{width:560px;height:360px;float:left;margin:240px 0 0 20px;color:#a30e22;}
.raffle1-name table{height:290px;width:100%;}
.raffle1-name table td{min-width:80px;text-align:center;}
.my-raffle1{color:#a30e22;border:1px solid #a30e22;border-radius:5px;padding:5px 20px;margin-top:20px;display:inline-block;}
.my-raffle1:hover{color:#e30000;}
.raffle1-bottom{position:relative;width:100%;min-height:300px;background-image:url(../image/common/raffle1-5.jpg),url(../image/common/raffle1-6.jpg);background-repeat:no-repeat,repeat-y;background-position:center top,center center;}
.raffle1-bottom-main{margin:100px auto 160px auto;width:900px;min-height:200px;color:#c17329;font-size:16px;}
.raffle1-bottom-main li{padding:5px 0;}
.raffle1-bottom-main .explain-num{background:#fb9147;}
.raffle1-bottom-footer{background:url(../image/common/raffle1-7.jpg) center center no-repeat;position:absolute;left:0;bottom:0;width:100%;height:153px;}


.raffle2-top{width:100%;height:416px;background-image:url(../image/common/raffle2-1.jpg),url(../image/common/raffle2-2.jpg),url(../image/common/raffle2-3.jpg);background-repeat:no-repeat;background-position:center top,center 145px,center 286px;}
.raffle2-top-main{width:250px;height:98px;background:#808080;margin:238px auto 0 auto;cursor:cell}
.raffle2-center{width:100%;height:399px;background-image:url(../image/common/raffle2-4.jpg),url(../image/common/raffle2-5.jpg),url(../image/common/raffle2-6.jpg),url(../image/common/raffle2-7.jpg);background-repeat:no-repeat;background-position:center top,center 91px,center 190px,center 303px;}
.raffle2-center>div{width:800px;height:280px;margin:100px auto 50px auto;}
.raffle2-center>div table{width:100%;height:220px;text-align:center;color:#FFF;}
.my-raffle2{color:#FFF;border:1px solid #FFF;border-radius:5px;padding:5px 20px;margin-top:20px;display:inline-block;}
.my-raffle2:hover{color:#fab2c8;}
.raffle2-bottom{position:relative;width:100%;background-image:url(../image/common/raffle2-8.jpg),url(../image/common/raffle2-9.jpg),url(../image/common/raffle2-10.jpg);background-repeat:no-repeat,no-repeat,repeat-y;background-position:center top,center 81px,center center}
.raffle2-bottom-main{margin:100px auto 90px auto;width:750px;min-height:200px;color:#FFF;font-size:16px;}
.raffle2-bottom-main li{padding:5px 0;}
.raffle2-bottom-main .explain-num{background:#940a08;}
.raffle2-bottom-footer{background:url(../image/common/raffle2-11.jpg) center center no-repeat;position:absolute;left:0;bottom:0;width:100%;height:85px;}